h1{
    text-align: center;
    background-color: rgb(104, 155, 84);
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}
 #a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-decoration: overline;
}
#vishal{
    color: aqua;
    background-color:rgb(20, 19, 6) ;
}
div{
    color: red;

}
button{
    background-color: red;
    color: black;
    text-align: center;
}
 